.Card {
  position: absolute;
  width: inherit;
  aspect-ratio: 394/572;
  border-radius: 10px;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: .25s;
  cursor: pointer;
  & > .front,
  & > .back {
    height: 100%;
    position: absolute;
    aspect-ratio: 394/572;
    transition: 1s;
    background-repeat: no-repeat !important;
    background-size: contain !important;
  }

  & > .front {
    transform: rotateY(180deg);
  }

  .cheater > & {
    transform: rotateY(180deg);
  }
}
